body {
    background: url("背景.jpg") center/cover no-repeat fixed;
    color: white;
    font: bold 20px "楷体";
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

/* .word {
    backdrop-filter: blur(10000px);
} */
